{% load static %}

<!-- Favicons -->
<link href="{% static 'img/favicon.png' %}" rel="icon">
<link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

<!-- Bootstrap core CSS -->
<link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!--external css-->
<link href="{% static 'plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>
<link href="{% static 'plugins/switch/switch.css' %}" rel="stylesheet"/>
<!-- Custom styles for this template -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">