<!--header start-->
<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="{% url 'home' %}" class="logo"><b>CODE<span>BASE</span></b></a>
    <!--logo end-->
    {% if 'codes/code' in request.path and user.is_authenticated %}
    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">                                            
            {% if object.user == user %}                                
            <li>
                <label class="form-switch">
                    Colaborar <input id="collaborate" type="checkbox">
                    <i></i>
                </label>
            </li>
            <li>
                <label class="form-switch">
                    Autoguardar <input id="autosave" type="checkbox">
                    <i></i>
                </label>
            </li>
            {% endif %}
        </ul>
        <!--  notification end -->
    </div>
    {% endif %}
    <div class="top-menu">
        <ul class="nav pull-right top-menu">            
            {% if not user.is_authenticated %}
            <li><a class="logout" href="{% url 'login' %}">Entrar</a></li>
            {% else %}
            <li><a class="logout" href="{% url 'logout' %}">Salir</a></li>
            {% endif %}
        </ul>
    </div>
</header>
<!--header end-->