{% load static %}
<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/jquery-ui-1.9.2.custom.min.js' %}"></script>
<script src="{% static 'plugins/jquery.ui.touch-punch.min.js' %}"></script>
<script class="include" type="text/javascript" src="{% static 'plugins/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'plugins/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'plugins/jquery.nicescroll.js' %}"></script>

<!--common script for all pages-->
<script src="{% static 'plugins/common-scripts.js' %}"></script>
<!--script for this page-->