<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="{% url 'update_profile' %}"><img src="{{ user.profile.get_avatar }}" class="img-circle" width="80"></a></p>
            <h5 class="centered">{{ user.profile }}</h5>
            <li class="mt">
                {% if user.is_authenticated %}
                <a href="{% url 'home' %}">
                    <i class="fa fa-home"></i>
                    <span>Inicio</span>
                </a>
                {% else %}
                <a href="{% url 'login' %}">
                    <i class="fa fa-sign-in"></i>
                    <span>Entra para más opciones</span>
                </a>
                {% endif %}
            </li>
            {% if user.is_authenticated %}
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-user"></i>
                    <span>Mi perfil</span>
                </a>
                <ul class="sub">
                    <li><a href="{% url 'update_profile' %}">Editar perfil</a></li>
                    <li><a href="{% url 'change_password' %}">Cambiar contraseña</a></li>
                </ul>
            </li>            
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>Proyectos</span>
                </a>
                <ul class="sub">
                    <li><a href="{% url 'add_code' %}">Crear</a></li>
                    <li><a href="{% url 'user_codes' %}">Listar</a></li>                    
                </ul>
            </li>                        
            <li class="sub-menu">
                <a href="{% url 'logout' %}">
                    <i class="fa fa-sign-out"></i>
                    <span>Salir</span>
                </a>
            </li>
            {% endif %}
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->