{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<h3><i class="fa fa-angle-right"></i> Cambiar contraseña</h3>
<!-- BASIC FORM ELELEMNTS -->
<div class="row no-margin">
    <div class="col-lg-12">
        <div class="form-panel">            	            
          	<form class="form-horizontal tasi-form" action="" method="POST" enctype="multipart/form-data">
          		{% csrf_token %}
                <div class="form-group">
                	<label class="col-md-2 control-label">{{ form.old_password.label }}</label>
	                <div class="col-md-10">
	                    {{ form.old_password|add_class:"form-control" }}
	                </div>
                </div>
                <div class="form-group">
	                <label class="col-md-2 control-label">{{ form.new_password1.label }}</label>
	                <div class="col-md-10">
	                    {{ form.new_password1|add_class:"form-control" }}
	                </div>
                </div>
                <div class="form-group">
	                <label class="col-md-2 control-label">{{ form.new_password2.label }}</label>
	                <div class="col-md-10">
	                    {{ form.new_password2|add_class:"form-control" }}
	                </div>
                </div>	                
	            <div class="form-group">
	                <div class="col-lg-offset-2 col-lg-10">
	                    <button class="btn btn-theme" type="submit">Guardar</button>
	                </div>
                </div>
          </form>
        </div>
    </div>        
</div>   
{% endblock %}