<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Codebase | Ingreso</title>
    {% include 'base/css.html' %}
</head>

<body>
    {% load static %}
    {% load widget_tweaks %}
    {% include 'base/header.html' %}
    <div id="login-page">
        <div class="container">
            <div class="form-login">
                <h2 class="form-login-heading">Ingreso</h2>
                <div class="login-wrap">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="login-wrap">
                            {% csrf_token %}
                            {{ form.username|add_class:"form-control"|attr:"placeholder:Usuario o correo electrónico" }}
                            <br>
                            {{ form.password|add_class:"form-control"|attr:"placeholder:Contraseña" }}
                            <label class="checkbox">                        
                                <span class="pull-right">
                                    <a data-toggle="modal" href="#forgotPasswordModal"> ¿Olvidáste tu contraseña?</a>
                                </span>
                            </label>
                            <button class="btn btn-theme btn-block" href="index.html" type="submit">
                                <i class="fa fa-lock"></i> Entrar
                            </button>
                            
                        </div>
                    </form>
                    <hr>
                    <div class="login-social-link centered">
                        <p>o registráte con tus redes sociales</p>
                        <button id="facebook" class="btn btn-facebook">
                            <i class="fa fa-facebook"></i> Facebook
                        </button>
                        <button id="twitter" class="btn btn-twitter">
                            <i class="fa fa-twitter"></i> Twitter
                        </button>
                        <form id="socialForm" action="{% url 'social_login' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" id="socialProvider" name="provider">
                            <input type="hidden" id="socialToken" name="token">
                            <input type="hidden" name="next" value="{{ next }}">
                        </form>
                    </div>
                    <div class="registration">
                        ¿No tienes cuenta aún?<br/>
                        <a class="" href="{% url 'register' %}">Crea una cuenta</a>
                    </div>
                    
                </div>    
            </div>
            <!-- Modal -->
            <div id="forgotPasswordModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">¿Olvidáste tu contraseña?</h4>
                        </div>
                        <div class="modal-body">
                            <p>Ingresa tu correo electrónico para resetear tu contraseña.</p>
                            <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                            <button class="btn btn-theme" type="button">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
        </div>
    </div>
    {% include 'base/js.html' %}
    <script type="text/javascript" src="{% static 'plugins/facebook-sdk.js' %}"></script>
    <script type="text/javascript" src="{% static 'authentication/social.js' %}"></script>
</body>

</html>
