{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<h3><i class="fa fa-angle-right"></i> Editar perfil</h3>
<!-- BASIC FORM ELELEMNTS -->
    <div class="row no-margin">
        <div class="col-lg-12">
            <div class="form-panel">
            	<p class="centered"><a href="profile.html"><img src="{{ user.profile.get_avatar }}" class="img-circle" width="80"></a></p>
	            <h5 class="centered mb">{{ user.profile }}</h5>              
              	<form class="form-horizontal tasi-form" action="" method="POST" enctype="multipart/form-data">
              		{% csrf_token %}
	                <div class="form-group">
	                	<label class="col-md-2 control-label">{{ user_form.first_name.label }}</label>
		                <div class="col-md-10">
		                    {{ user_form.first_name|add_class:"form-control" }}
		                </div>
	                </div>
	                <div class="form-group">
		                <label class="col-md-2 control-label">{{ user_form.last_name.label }}</label>
		                <div class="col-md-10">
		                    {{ user_form.last_name|add_class:"form-control" }}
		                </div>
	                </div>
	                <div class="form-group">
		                <label class="col-md-2 control-label">{{ user_form.username.label }}</label>
		                <div class="col-md-10">
		                    {{ user_form.username|add_class:"form-control" }}
		                </div>
	                </div>
	                <div class="form-group">
		                <label class="col-md-2 control-label">{{ user_form.email.label }}</label>
		                <div class="col-md-10">
		                    {{ user_form.email|add_class:"form-control" }}
		                </div>
	                </div>
	                <div class="form-group">
		                <label class="control-label col-md-2">{{ form.avatar.label }}</label>
			                <div class="col-md-10">
			                    {{ form.avatar }}
			                </div>
		            </div>
		            <div class="form-group">
		                <div class="col-md-offset-2 col-lg-10">
		                    <button class="btn btn-theme" type="submit">Guardar</button>
		                </div>
	                </div>
              </form>
            </div>
        </div>        
    </div>   
{% endblock %}