<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Codebase</title>

    {% include 'base/css.html' %}
    {% block extracss %}{% endblock %}
</head>

<body>
    <section id="container">
        {% include 'base/header.html' %}
        
        {% include 'base/sidebar.html' %}
    
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">                
                {% block content %}{% endblock %}                   
            </section>
            <!-- /wrapper -->
        </section>
        <!-- /MAIN CONTENT -->
        <!--main content end-->        
    </section>
    {% include 'base/js.html' %}
    {% block extrajs %}{% endblock %}
</body>

</html>
