<!-- Modal -->
<div id="addCodeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Guarda tu proyecto</h4>
            </div>
            <div class="modal-body">
                <form id="projectForm" action="#" method="GET">                
                    <p>Ingresa un nombre para tu proyecto.</p>                    
                    <input type="text" name="project" class="form-control" placeholder="Nombre del proyecto" required>
                </form>                            
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-theme" type="submit" form="projectForm">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- modal -->