{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/splitjs/splitjs.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/codemirror/codemirror.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/codemirror/config.css' %}">
{% endblock %}

{% block content %}
<div class="editor-container">
	<div id="code" class="split">		
		<form id="saveCodeForm" class="editor-list" action="" method="POST" enctype="multipart/form-data">			
			{% csrf_token %}
			{{ form.name }}			
			<div id="editorHtml" class="editor">
				<span class="editor-tag">HTML</span>
				{{ form.html }}
			</div>
			<div id="editorCss" class="editor">
				<span class="editor-tag">CSS</span>
				{{ form.css }}
			</div>
			<div id="editorJs" class="editor">
				<span class="editor-tag">JAVASCRIPT</span>
				{{ form.js }}
			</div>			
			{{ form.room }}			
			<input type="hidden" id="user" value="{{ user.id }}">					
		</form>
		<div class="row no-margin editor-options">
			<div target="#editorHtml" class="col-xs-3 editor-btn editor-btn-html"><i class="fa fa-html5"></i></div>				
			<div target="#editorCss" class="col-xs-3 editor-btn editor-btn-css"><i class="fa fa-css3"></i></div>				
			<div target="#editorJs" class="col-xs-3 editor-btn editor-btn-js"><i class="fa fa-superpowers"></i></div>	
			<div class="col-xs-3 editor-btn editor-btn-bars active"><i class="fa fa-ellipsis-v"></i></div>				
		</div>
	</div>
	<div id="page" class="split">
		<iframe id="preview" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts"></iframe>
	</div>
	{% if user.is_authenticated %}

	{% if object and object.user != user %}
	<button type="button" id="btnForkCode" action="{% url 'fork_code' %}" class="btn btn-warning btn-float">
		<i class="fa fa-code-fork"></i>
	</button>
	{% endif %}

	{% if object and object.user == user %}
	<button type="button" id="btnSaveCode" class="btn btn-theme btn-float">
		<i class="fa fa-floppy-o"></i>
	</button>
	{% elif not object %}
	<button type="button" id="btnSaveCode" class="btn btn-theme btn-float">
		<i class="fa fa-floppy-o"></i>
	</button>
	{% endif %}

	{% endif %}
</div>

{% if object %}
{% include 'codes/collaborate_modal.html' %}
{% else %}
{% include 'codes/add_code_modal.html' %}
{% endif %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'plugins/csrftoken.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/splitjs/split.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/splitjs/config.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/codemirror/codemirror.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/codemirror/emmet.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/codemirror/xml.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/codemirror/htmlmixed.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/codemirror/css.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/codemirror/javascript.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/codemirror/config.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/socket.io/client.js' %}"></script>
{% if object %}
<script type="text/javascript" src="{% static 'codes/realtime.js' %}"></script>
{% endif %}
<script type="text/javascript" src="{% static 'codes/codes.js' %}"></script>
{% if object.user == user %}
<script type="text/javascript" src="{% static 'codes/autosave.js' %}"></script>
{% endif %}

{% endblock %}