<!-- Modal -->
<div id="collaborateModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comparte tu proyecto</h4>
            </div>
            <div class="modal-body">                            
                <p>Envía el siguiente enlace a las personas que quieren colaborar contigo.</p>                    
                <input type="text" class="form-control" value="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}" readonly>
                                         
            </div>
            <div class="modal-footer">                
                <button data-dismiss="modal" class="btn btn-theme">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!-- modal -->