{% extends 'base.html' %}

{% block content %}
<h3><i class="fa fa-angle-right"></i> Mis proyectos</h3>
<!-- row -->
<div class="row no-margin">
	<div class="col-md-12">
	    <div class="content-panel">
		    <table class="table table-striped table-advance table-hover">		        
		        <thead>
			        <tr>
			            <th>Proyecto</th>            
			            <th>Acciones</th>            
			        </tr>
		        </thead>
		        <tbody>
		        	{% for code in object_list %}
			        <tr>            
			            <td class="col-md-9">{{ code.name }}</td>
			            <td>				            				            				            
				            <a href="{% url 'update_code' code.room %}" class="btn btn-primary btn-xs"><i class="fa fa-search"></i></a>
				            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
			            </td>
			        </tr>
			        {% empty %}
			        <tr>
			        	<td colspan="2">"Sin registros."</td>
			        </tr>
		        	{% endfor %}
		        </tbody>
		    </table>
	    </div>
	    <!-- /content-panel -->
	</div>
	<!-- /col-md-12 -->
</div>
<!-- /row -->
{% endblock %}